<ActionBar>
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>

    <GridLayout columns="auto, *, auto">
        <Label col="0" class="title" text="My Addresses"></Label>
        <Label col="1" text="&#xf002;" class="page__content-icon fas search-icon"
        [nsRouterLink]="['/search']" pageTransition="sideDrawerTransition"></Label>
        <Label col="2" class="page__content-icon fas cart-icon" text="&#x1f217;"
         [nsRouterLink]="['/cart']" pageTransition="sideDrawerTransition"></Label>
         <Label col="2" *ngIf="stateService.state.isLoggedIn" [text]="stateService.state.cartLength"
          class="cart-item-no"></Label>
   </GridLayout>

</ActionBar>

<GridLayout rows="auto, *" class="my-account">

    <StackLayout row="0" class="add-address">
        <Label class="link" text="+ Add a new address" [nsRouterLink]="['/address/addAddress']" pageTransition="slide"></Label>
    </StackLayout>

   <!--  <StackLayout class="hr"></StackLayout> -->


    <ListView  row="1" [items]="addressList" class="o-item" separatorColor="blue">
        <ng-template let-item="item">
            <StackLayout height="100" class="data-container">
                <StackLayout orientation="horizontal">
                    <Label class="radio-btn" [class.selected]="item?.isDefault" (tap)="changeDefaultAddress(item.id)"></Label>
                    <Label text={{item?.fullName}} class="o-solid"></Label>
                </StackLayout>

                <Label text='{{item?.addressLine1}}, {{item?.addressLine2}}' class="o-regular"> </Label>
                <Label text='{{item?.city}} - {{item?.postalCode}}' class="o-regular"> </Label>
                <Label text={{item?.mobileNumber}} class="p-mobile"></Label>

                <DockLayout  orientation="horizontal">
                    <Button dock="left" text="Edit" (tap)="editAddress(item)" class="edit-btn"></Button>
                    <Button dock="right" text="Remove" (tap)="removeAddress(item.id)" class="remove-btn"></Button>
                </DockLayout >
            </StackLayout>
        </ng-template>
    </ListView >

<app-spinner rowSpan="2"></app-spinner>

</GridLayout>

