<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Customer - Support"></Label>
</ActionBar>


    <GridLayout rows="auto, auto, auto,*">
        <Label row ="0" class="bold" text="Questions About an issue?"></Label>
        <GridLayout row="1" columns="*,auto,20" class="boxed">
        <Label col="0" text="Chat with customer Service"></Label>
        <Label col="1" text=">"></Label>
        </GridLayout>
        <GridLayout row="2" columns="*,auto, 20" class="boxed">
        <Label col="0" text="Call us"></Label>
        <Label col="1" text=">"></Label>
        </GridLayout>
    </GridLayout>

