<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<!-- <GridLayout rows="auto, auto, auto"> -->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
        <GridLayout *ngIf="isUserLoggedIn()" row="0" columns="20, 50, auto, *" class="nt-drawer__header">
            <Image  col="1" class="nt-drawer__header-image far" src="font://&#xf2bd;"></Image>
            <Label  col="2" class="nt-drawer__header-brand" text="Hello, {{fName}}"></Label>
        </GridLayout>

        <GridLayout *ngIf="!isUserLoggedIn()" row="0" columns="20, auto, auto, *" class="nt-drawer__header">
            <Button col="1" text="Signup" class="sign-btn"
            [nsRouterLink]="['/auth', 'signup']" pageTransition="sideDrawerTransition"
            [class.-selected]="isComponentSelected('/auth/signup')" (tap)="onNavItemTap('/auth/signup')"></Button>

            <Button  col="2" text="Login" class="sign-btn"
               [nsRouterLink]="['/auth', 'login']" pageTransition="sideDrawerTransition"
               [class.-selected]="isComponentSelected('/auth/login')" (tap)="onNavItemTap('/auth/login')"></Button>
        </GridLayout>

        <ScrollView row="1" class="nt-drawer__body">
            <StackLayout>
                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                    <Label col="0" text="&#xf015;" class="nt-icon fas"></Label>
                    <Label col="1" text="Home" class="p-r-10"></Label>
                </GridLayout>

               <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/order')" (tap)="onNavItemTap('/order')">
                    <Label col="0" text="&#xf1ea;" class="nt-icon far"></Label>
                    <Label col="1" text="Your Orders" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/search')" (tap)="onNavItemTap('/search')">
                    <Label col="0" text="&#xf002;" class="nt-icon fas"></Label>
                    <Label col="1" text="Search" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/account')" (tap)="onNavItemTap('/account')">
                    <Label col="0" text="&#xf0f0;" class="nt-icon fas"></Label>
                    <Label col="1" text="Your Account" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/wallet')" (tap)="onNavItemTap('/wallet')">
                    <Label col="0" text="&#xf155;" class="nt-icon fas"></Label>
                    <Label col="1" text="Your Wallet" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="rateUs()">
                    <Label col="0" text="&#xf005;" class="nt-icon fas"></Label>
                    <Label col="1" text="Rate us" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/notifications')" (tap)="onNavItemTap('/notifications')">
                    <Label col="0" text="&#xf0f3;" class="nt-icon fas"></Label>
                    <Label col="1" text="Your Notifications" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="shareWithFriend()">
                    <Label col="0" text="&#xf500;" class="nt-icon fas"></Label>
                    <Label col="1" text="Share with Friend" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/support')" (tap)="onNavItemTap('/support')">
                    <Label col="0" text="&#xf1cd;" class="nt-icon fas"></Label>
                    <Label col="1" text="Customer Support" class="p-r-10"></Label>
                </GridLayout>


                <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="logout()">
                    <Label col="0" text="&#xf2f5;" class="nt-icon fas"></Label>
                    <Label col="1" text="Logout" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>

<!-- <ActivityIndicator rowSpan="1" [busy]="processing" color="blue"></ActivityIndicator> -->

<!-- </GridLayout> -->
