<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
        <GridLayout row="0" columns="20, auto, auto" class="nt-drawer__header">
            <Image *ngIf="isLoggedIn()" col="1" class="nt-drawer__header-image far t-36" src="font://&#xf2bd;"></Image>
            <Label *ngIf="isLoggedIn()" col="2" class="nt-drawer__header-brand" text="Hello, Amit"></Label>

            <Button *ngIf="!isLoggedIn()" col="1" text="Signup" class="sign-btn"
            [nsRouterLink]="['/auth', 'signup']" pageTransition="sideDrawerTransition"
            [class.-selected]="isComponentSelected('/auth/signup')" (tap)="onNavItemTap('/auth/signup')"></Button>

            <Button *ngIf="!isLoggedIn()" col="2" text="Login" class="sign-btn"
               [nsRouterLink]="['/auth', 'login']" pageTransition="sideDrawerTransition"
               [class.-selected]="isComponentSelected('/auth/login')" (tap)="onNavItemTap('/auth/login')"></Button>
        </GridLayout>

        <ScrollView row="1" class="nt-drawer__body">
            <StackLayout>
                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                    <Label col="0" text="&#xf015;" class="nt-icon fas"></Label>
                    <Label col="1" text="Home" class="p-r-10"></Label>
                </GridLayout>

               <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/order')" (tap)="onNavItemTap('/order')">
                    <Label col="0" text="&#xf1ea;" class="nt-icon far"></Label>
                    <Label col="1" text="Your Orders" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/search')" (tap)="onNavItemTap('/search')">
                    <Label col="0" text="&#xf002;" class="nt-icon fas"></Label>
                    <Label col="1" text="Search" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/account')" (tap)="onNavItemTap('/account')">
                    <Label col="0" text="&#xf0f0;" class="nt-icon fas"></Label>
                    <Label col="1" text="Your Account" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/wallet')" (tap)="onNavItemTap('/wallet')">
                    <Label col="0" text="&#xf155;" class="nt-icon fas"></Label>
                    <Label col="1" text="Your Wallet" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
                    <Label col="0" text="&#xf013;" class="nt-icon fas"></Label>
                    <Label col="1" text="Settings" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/notifications')" (tap)="onNavItemTap('/notifications')">
                    <Label col="0" text="&#xf0f3;" class="nt-icon fas"></Label>
                    <Label col="1" text="Your Notifications" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/faq')" (tap)="onNavItemTap('/faq')">
                    <Label col="0" text="&#xf059;" class="nt-icon fas"></Label>
                    <Label col="1" text="FAQs" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/support')" (tap)="onNavItemTap('/support')">
                    <Label col="0" text="&#xf1cd;" class="nt-icon fas"></Label>
                    <Label col="1" text="Customer Support" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
