<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
<ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="My Cart"></Label>
</ActionBar>

    <BottomNavigation>
        <TabStrip>
            <TabStripItem (tap)="checkout()" class="tabstripitem">
                <Label text="Checkout" class="fas t-36"></Label>
            </TabStripItem>
            <TabStripItem (tap)="checkout()" class="tabstripitem">
                <Label text="Saved RS. 124.28"></Label>
                <Label text="&#xf156; 982.28" class="nt-icon fas t-36"></Label>
            </TabStripItem>
            <TabStripItem (tap)="checkout()" class="tabstripitem">
                <Image src="font://&#xf061;" class="fas t-36"></Image>
            </TabStripItem>
        </TabStrip>

      <TabContentItem>
        <GridLayout rows="auto, *, auto, auto">
            <ListView row="1" [items]="cartList">
                <ng-template let-item="item" >
                    <GridLayout rows="auto,*" columns="auto,25, *">
                        <Image row="0" col="0" [src]="item.product.imageUrl" class="p-image" ></Image>

                        <GridLayout col="2" rows="auto,auto,*" columns="auto,*,auto,auto,auto">
                            <Label row="0" col="0" [text]="item.product.name" class="o-regular"></Label>
                            <Label row="1" col="0" [text]="item.product.quantity"></Label>
                            <Label row="2" col="0" text="Rs. {{item.product.price}}" class="o-solid"></Label>
                            <Button class="add-unit-btn" row="2" col="2" text=" - " (tap)="decreaseQty(item)"></Button>
                            <Label  row="2" col="3" [text]="item.quantity"></Label>
                            <Button class="add-unit-btn" row="2" col="4" text=" + " (tap)="increaseQty(item)"></Button>
                        </GridLayout>
                    </GridLayout>
                </ng-template>
            </ListView >
            <app-spinner rowSpan="2"></app-spinner>
           </GridLayout>
        </TabContentItem>
    </BottomNavigation>
