<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="My Wallet"></Label>
</ActionBar>

<GridLayout rows="auto, auto,*">
    <GridLayout row="0" rows="auto, auto" class="boxed" >
        <Label row="0" class="balance-text" text="Your Shopping Balance"></Label>
        <GridLayout row="1" columns="auto,auto">
        <Label col="0" text="&#xf156;" class="nt-icon fas rs-icon"></Label>
        <Label col="1" class="green-text" text="{{balance}}"></Label>
        </GridLayout>
    </GridLayout>

    <GridLayout row="1" rows="auto, auto" class="boxed" >
        <Label row="0" class="balance-text" text="Your Rewards point"></Label>
        <Label row="1" class="green-text" text="{{rewardpoint}}"></Label>
    </GridLayout>

</GridLayout>


