<ActionBar>

    <GridLayout columns="auto, *, auto">
        <Label col="0" class="title" text="My Addresses"></Label>
        <Label col="1" text="&#xf002;" class="page__content-icon fas search-icon"
        [nsRouterLink]="['/search']" pageTransition="sideDrawerTransition"></Label>
        <Label col="2" class="page__content-icon fas cart-icon" text="&#x1f217;"></Label>
        <Label col="2" [text]="3" class="cart-item-no"
        [nsRouterLink]="['/cart']" pageTransition="sideDrawerTransition"></Label>
   </GridLayout>

</ActionBar>

<ScrollView orientation="vertical">
    <StackLayout>
        <RadDataForm #myValidationModesDataForm [source]="address" [metadata]="addressMetadata">
        </RadDataForm>
         <Button text="Save" class="btn btn-primary save-btn" (tap)="addOrUpdateAddress()"></Button>
    </StackLayout>
</ScrollView>
<app-spinner rowSpan="2"></app-spinner>
